{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" type="image/png" href="{% static "img/fav.png" %}">
  <title>Nimbus - Job Portal & Social Network HTML Template</title>

  <link rel="stylesheet" type="text/css" href="{% static "vendor/slick/slick.min.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "vendor/slick/slick-theme.min.css" %}">

  <link href="{% static "vendor/icons/feather.css" %}" rel="stylesheet" type="text/css">

  <link href="{% static "vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">

  <link href="{% static "css/style.css" %}" rel="stylesheet">
</head>
<body>

{% block body %}{% endblock %}

<script src="{% static "vendor/jquery/jquery.min.js" %}" type="390c05347ee78a14471bd913-text/javascript"></script>
<script src="{% static "vendor/bootstrap/js/bootstrap.bundle.min.js" %}"
        type="390c05347ee78a14471bd913-text/javascript"></script>

<script type="390c05347ee78a14471bd913-text/javascript" src="{% static "vendor/slick/slick.min.js" %}"></script>

<script src="{% static "js/osahan.js" %}" type="390c05347ee78a14471bd913-text/javascript"></script>
<script src="{% static "cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js" %}"
        data-cf-settings="390c05347ee78a14471bd913-|49" defer=""></script>
{#<script defer="" src="../../../beacon.min.js/vaafb692b2aea4879b33c060e79fe94621666317369993" integrity="sha512-0ahDYl866UMhKuYcW078ScMalXqtFJggm7TmlUtp0UlD4eQk0Ixfnm5ykXKvGJNFjLMoortdseTfsRT8oCfgGA==" data-cf-beacon='{"rayId":"7a5ae1c25b7d31be","version":"2023.2.0","r":1,"token":"dd471ab1978346bbb991feaa79e6ce5c","si":100}' crossorigin="anonymous"></script>#}
{% block scripts %}

{% endblock %}
<script>
    if ( window.history.replaceState ) {
  window.history.replaceState( null, null, window.location.href );
}
</script>
</body>
</html>