{% extends "base/base.html" %}
{% load static %}


{% block body %}
  <div class="bg-white">
    <div class="container">
      <div
          class="row justify-content-center align-items-center d-flex vh-100"
      >
        <div class="col-md-4 mx-auto">
          <div class="osahan-login py-4">
            <div class="text-center mb-4">
              <a href="{% url "index" %}"><img src="{% static "img/logo.svg" %}" alt=""/></a>
              <h5 class="font-weight-bold mt-3">Welcome Back</h5>
              <p class="text-muted">
                Don't miss your next opportunity. Sign in to stay updated on
                your professional world.
              </p>
            </div>
            <form method="post"> {% csrf_token %}
              <div class="form-group">
                <label class="mb-1" for="user">Username</label>
                <div class="position-relative icon-form-control">
                  <i class="feather-user position-absolute"></i>
                  <input type="text" name="user" id="user" class="form-control"/>
                </div>
              </div>
              <div class="form-group">
                <label class="mb-1">Password</label>
                <div class="position-relative icon-form-control">
                  <i class="feather-unlock position-absolute"></i>
                  <input type="password" name="password" id="password" class="form-control"/>
                </div>
              </div>
              {#                <div class="custom-control custom-checkbox mb-3">#}
              {#                  <input#}
              {#                    type="checkbox"#}
              {#                    class="custom-control-input"#}
              {#                    id="customCheck1"#}
              {#                  />#}
              {#                  <label class="custom-control-label" for="customCheck1"#}
              {#                    >Remember password</label#}
              {#                  >#}
              {#                </div>#}
              <button
                  class="btn btn-primary btn-block text-uppercase"
                  type="submit"
              >
                Sign in
              </button>
              <div class="py-3 d-flex align-item-center">
                <a href="{% url "forgot-password" %}">Forgot password?</a>
                <span class="ml-auto">
                    New to Site?
                    <a class="font-weight-bold" href="{% url "signup" %}"
                    >Join now</a
                    ></span>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
