{% extends "base/base.html" %}
{% load static %}

{% block body %}
  <div class="bg-white">
    <div class="container">
      <div
          class="row justify-content-center align-items-center d-flex vh-100"
      >
        <div class="col-md-4 mx-auto">
          <div class="osahan-login py-4">
            <div class="text-center mb-4">
              <a href="{% url "index" %}"><img src="img/logo.svg" alt=""/></a>
              <h5 class="font-weight-bold mt-3">Join Nimbus</h5>
              <p class="text-muted">
                Make the most of your professional life
              </p>
            </div>
            <form method="post"> {% csrf_token %}
              <div class="form-group">
                <label class="mb-1" for="user">Username</label>
                <div class="position-relative icon-form-control">
                  <i class="feather-user position-absolute"></i>
                  <input type="text" required class="form-control" name="user" id="user"/>
                </div>
              </div>
              <div class="form-row">

                <div class="col">
                  <div class="form-group">
                    <label class="mb-1">First name</label>
                    <div class="position-relative icon-form-control">
                      <i class="feather-user position-absolute"></i>

                      <input type="text" required name="first_name" class="form-control"/>
                    </div>
                  </div>
                </div>


                <div class="col">
                  <div class="form-group">
                    <label class="mb-1">Last name</label>
                    <div class="position-relative icon-form-control">
                      <i class="feather-user position-absolute"></i>

                      <input type="text" required name="last_name" class="form-control"/>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="mb-1">Email</label>
                <div class="position-relative icon-form-control">
                  <i class="feather-at-sign position-absolute"></i>
                  <input type="email" required class="form-control" name="email"/>
                </div>
              </div>
              <div class="form-group">
                <label class="mb-1">Password (6 or more characters)</label>
                <div class="position-relative icon-form-control">
                  <i class="feather-unlock position-absolute"></i>
                  <input type="password" required class="form-control" name="password"/>
                </div>
              </div>
              <div class="form-group">
                <label class="mb-1"
                >You agree to the Nimbus <a href="#">User Agreement</a>,
                  <a href="#">Privacy Policy</a>, and
                  <a href="#">Cookie Policy</a>.</label
                >
              </div>
              <button
                  class="btn btn-primary btn-block text-uppercase"
                  type="submit" id="signup-submit"
              >
                Agree & Join
              </button>
              <div class="py-3 d-flex align-item-center">
                <a href="forgot-password.html">Forgot password?</a>
                <span class="ml-auto">
                    Already on Nimbus?
                    <a class="font-weight-bold" href="/accounts/login"
                    >Sign in</a
                    ></span
                >
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    let password = document.getElementById("password")
    document.getElementById("signup-submit").addEventListener("click", () => {
      if (password.value.length < 7) {
        event.preventDefault();
        alert("Password must be at least 7 characters long");
      }
    })
  </script>
{% endblock %}

