{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="icon" type="image/png" href="{% static "img/fav.png" %}" />
    <title>Osahanin - Job Portal & Social Network HTML Template</title>

    <link rel="stylesheet" type="text/css" href="{% static "vendor/slick/slick.min.css" %}" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static "vendor/slick/slick-theme.min.css" %}"
    />

    <link href="{% static "vendor/icons/feather.css" %}" rel="stylesheet" type="text/css" />

    <link href="{% static "vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet" />

    <link href="{% static "css/style.css" %}" rel="stylesheet" />
  </head>
  <body>
    <div class="bg-white">
      <div class="container">
        <div
          class="row justify-content-center align-items-center d-flex vh-100"
        >
          <div class="col-md-4 mx-auto">
            <div class="osahan-login py-4">
              <div class="text-center mb-4">
                <a href="{% url "index" %}"><img src="{% static "img/logo.svg" %}" alt="" /></a>
                <h5 class="font-weight-bold mt-3">Welcome Back</h5>
                <p class="text-muted">
                  Don't miss your next opportunity. Sign in to stay updated on
                  your professional world.
                </p>
              </div>
              <form method="post"> {% csrf_token %}
                <div class="form-group">
                  <label class="mb-1" for="user">Username</label>
                  <div class="position-relative icon-form-control">
                    <i class="feather-user position-absolute"></i>
                    <input type="text" name="user" id="user" class="form-control" />
                  </div>
                </div>
                <div class="form-group">
                  <label class="mb-1">Password</label>
                  <div class="position-relative icon-form-control">
                    <i class="feather-unlock position-absolute"></i>
                    <input type="password" name="password" id="password" class="form-control" />
                  </div>
                </div>
{#                <div class="custom-control custom-checkbox mb-3">#}
{#                  <input#}
{#                    type="checkbox"#}
{#                    class="custom-control-input"#}
{#                    id="customCheck1"#}
{#                  />#}
{#                  <label class="custom-control-label" for="customCheck1"#}
{#                    >Remember password</label#}
{#                  >#}
{#                </div>#}
                <button
                  class="btn btn-primary btn-block text-uppercase"
                  type="submit"
                >
                  Sign in
                </button>
                <div class="py-3 d-flex align-item-center">
                  <a href="{% url "forgot-password" %}">Forgot password?</a>
                  <span class="ml-auto">
                    New to Site?
                    <a class="font-weight-bold" href="{% url "signup" %}"
                      >Join now</a
                    ></span>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script
      src="{% static "vendor/jquery/jquery.min.js" %}"
      type="09ba3d1d09e8693670765536-text/javascript"
    ></script>
    <script
      src="{% static "vendor/bootstrap/js/bootstrap.bundle.min.js" %}"
      type="09ba3d1d09e8693670765536-text/javascript"
    ></script>

    <script
      type="09ba3d1d09e8693670765536-text/javascript"
      src="{% static "vendor/slick/slick.min.js" %}"
    ></script>

    <script
      src="{% static "js/osahan.js" %}"
      type="09ba3d1d09e8693670765536-text/javascript"
    ></script>
{#    <script#}
{#      src="{% static "cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js" %}"#}
{#      data-cf-settings="09ba3d1d09e8693670765536-|49"#}
{#      defer=""#}
{#    ></script>#}
{#    <script#}
{#      defer=""#}
{#      src="{% static "beacon.min.js/vaafb692b2aea4879b33c060e79fe94621666317369993" %}"#}
{#      integrity="sha512-0ahDYl866UMhKuYcW078ScMalXqtFJggm7TmlUtp0UlD4eQk0Ixfnm5ykXKvGJNFjLMoortdseTfsRT8oCfgGA=="#}
{#      data-cf-beacon='{"rayId":"7a5ae22ffec629ed","version":"2023.2.0","r":1,"token":"dd471ab1978346bbb991feaa79e6ce5c","si":100}'#}
{#      crossorigin="anonymous"#}
{#    ></script>#}
  </body>
</html>
