{% extends "base/navbar.html" %}
{% load static %}


{% block content %}
    <aside class="col-md-4">
        <div class="mb-3 border rounded bg-white profile-box text-center w-10">
            <form class="p-4 d-flex align-items-center" method="post" action="{% url 'uploadprofile' %}" enctype="multipart/form-data">
      {% csrf_token %}
        <img src="{% if profile.profile_image %}{{ profile.profile_image.url }} {% else %} {% static 'img/p13.png' %} {%endif%}" class="img-fluid rounded-circle" alt="Responsive image" style="max-width: 50%;">
        <div class="p-4">
          <label data-toggle="tooltip" data-placement="top" data-original-title="Upload New Picture"
                 class="btn btn-info m-0" for="fileAttachmentBtn">
            <i class="feather-image"></i>
            <input id="fileAttachmentBtn" name="profile" type="file" class="d-none">
          </label>
          <button data-toggle="tooltip" data-placement="top" data-original-title="Delete" type="submit"
                  class="btn btn-danger"><i class="feather-trash-2"></i></button>
            {% if not profile.profile_image %}
          <button class="font-weight-bold btn btn-light rounded p-2 mt-2 d-block" type="submit"> Save Profile </button>
            {% endif %}
        </div>
      </form>
        </div>
        <div class="border rounded bg-white mb-3">
            <div class="box-title border-bottom p-3">
                <h6 class="m-0">About</h6>
                <p class="mb-0 mt-0 small">Tell about yourself in two sentences.
                </p>
            </div>
            <div class="box-body">
                <div class="p-3 border-bottom">
                    <div class="form-group mb-4">
                        <label class="mb-1">BIO</label>
                        <div class="position-relative">
                            <textarea class="form-control" rows="4" name="text"
                                      placeholder="Enter Bio">{{ profile.bio }}</textarea>
                        </div>
                    </div>
                    <div class="form-group mb-0">
                        <label class="mb-1 w-100">SKILLS</label>
                        <div class="custom-control custom-checkbox d-inline mr-3">
                            <input type="checkbox" class="custom-control-input" id="customCheck1">
                            <label class="custom-control-label" for="customCheck1">JavaScript, jQuery</label>
                        </div>
                        <div class="custom-control custom-checkbox d-inline">
                            <input type="checkbox" class="custom-control-input" id="customCheck2">
                            <label class="custom-control-label" for="customCheck2">HTML5, CSS3</label>
                        </div>
                    </div>
                </div>
                <div class="overflow-hidden text-center p-3">
                    <a class="font-weight-bold btn btn-light rounded p-3 d-block" href="#"> SAVE </a>
                </div>
            </div>
        </div>
        <div class="border rounded bg-white mb-3">
            <div class="box-title border-bottom p-3">
                <h6 class="m-0">Social profiles</h6>
                <p class="mb-0 mt-0 small">Add elsewhere links to your profile.
                </p>
            </div>
            <form class="js-validate" novalidate="novalidate" method="post">{% csrf_token %}
            <div class="box-body">
                <div class="p-3 border-bottom">
                    <div class="position-relative icon-form-control mb-2">
                        <i class="feather-instagram position-absolute text-warning"></i>
                        <input placeholder="Add Instagram link" name="instagram" value={{ profile.social_set.first.instagram }} type="text" class="form-control">
                    </div>
                    <div class="position-relative icon-form-control mb-2">
                        <i class="feather-facebook position-absolute text-primary"></i>
                        <input placeholder="Add Facebook link" name="facebook" value={{ profile.social_set.first.facebook }} type="text" class="form-control">
                    </div>
                    <div class="position-relative icon-form-control mb-2">
                        <i class="feather-twitter position-absolute text-info"></i>
                        <input placeholder="Add Twitter link" name="twitter" value={{ profile.social_set.first.twitter }} type="text" class="form-control">
                    </div>
                    <div class="position-relative icon-form-control mb-2">
                        <i class="feather-youtube position-absolute text-danger"></i>
                        <input placeholder="Add Youtube link" name="youtube" value={{ profile.social_set.first.youtube }} type="text" class="form-control">
                    </div>
                    <div class="position-relative icon-form-control mb-0">
                        <i class="feather-github position-absolute text-dark"></i>
                        <input placeholder="Add Github link" name="github" value={{ profile.social_set.first.github }} type="text" class="form-control">
                    </div>
                </div>
                <div class="overflow-hidden text-center p-3">
                    <button class="font-weight-bold btn btn-light rounded p-3 d-block" name="btn" value="socials"> Update Social Profiles </button>
                </div>
            </div>
        </div>
    </aside>
    <main class="col-md-8">
        <form class="js-validate" novalidate="novalidate" method="post">
            {% csrf_token %}
            <div class="border rounded bg-white mb-3">
                <div class="box-title border-bottom p-3">
                    <h6 class="m-0">Edit Basic Info</h6>
                    <p class="mb-0 mt-0 small">Lorem ipsum dolor sit amet, consecteturs.
                    </p>
                </div>
                <div class="box-body p-3">
                    <div class="row">

                        <div class="col-sm-6 mb-2">
                            <div class="js-form-message">
                                <label id="nameLabel" class="form-label">
                                    First Name
                                    <span class="text-danger">*</span>
                                </label>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="fname"
                                           value="{{ profile.first_name }}"
                                           placeholder="Enter your name" aria-label="Enter your name" required=""
                                           aria-describedby="nameLabel" data-msg="Please enter your name."
                                           data-error-class="u-has-error"
                                           data-success-class="u-has-success">
                                    <small class="form-text text-muted">Displayed on your public profile, notifications
                                        and other
                                        places.</small>
                                </div>
                            </div>
                        </div>


                        <div class="col-sm-6 mb-2">
                            <div class="js-form-message">
                                <label id="usernameLabel" class="form-label">
                                    Last Name
                                    <span class="text-danger">*</span>
                                </label>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="lname" value="{{ profile.last_name }}"
                                           placeholder="Enter your last name" aria-label="Enter your last name"
                                           required=""
                                           aria-describedby="usernameLabel" data-msg="Please enter your last name."
                                           data-error-class="u-has-error" data-success-class="u-has-success">
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row">

                        <div class="col-sm-6 mb-2">
                            <div class="js-form-message">
                                <label id="emailLabel" class="form-label">
                                    Email address
                                    <span class="text-danger">*</span>
                                </label>
                                <div class="form-group">
                                    <input type="email" class="form-control" name="email" value="{{ profile.email }}"
                                           placeholder="Enter your email address" aria-label="Enter your email address"
                                           required=""
                                           aria-describedby="emailLabel" data-msg="Please enter a valid email address."
                                           data-error-class="u-has-error" data-success-class="u-has-success">
                                    <small class="form-text text-muted">We'll never share your email with anyone
                                        else.</small>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 mb-2">
                            <div class="js-form-message">
                                <label id="organizationLabel" class="form-label">
                                    Username
                                    <span class="text-danger">*</span>
                                </label>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="user" value="{{ profile.username }}"
                                           placeholder="Enter your Username." aria-label="Enter your Username"
                                           required="" aria-describedby="organizationLabel"
                                           data-msg="Please enter your Username."
                                           data-error-class="u-has-error" data-success-class="u-has-success">
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="row">

                        <div class="col-sm-6 mb-2">
                            <div class="js-form-message">
                                <label id="websiteLabel" class="form-label">
                                    Website
                                    <span class="text-danger">*</span>
                                </label>
                                <div class="form-group">
                                    <input class="form-control" type="url" name="website" value="{{ profile.website }}"
                                           placeholder="Enter your website" aria-label="Enter your website" required=""
                                           aria-describedby="websiteLabel" data-msg="Password enter a valid website"
                                           data-error-class="u-has-error" data-success-class="u-has-success">
                                    <small class="form-text text-muted">Your home page, blog or company site, e.g.
                                        http://example.com</small>
                                </div>
                            </div>
                        </div>


                        <div class="col-sm-6 mb-2">
                            <div class="js-form-message">
                                <label id="locationLabel" class="form-label">
                                    Location
                                    <span class="text-danger">*</span>
                                </label>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="location"
                                           value="{{ profile.location }}"
                                           placeholder="Enter your location" aria-label="Enter your location"
                                           required=""
                                           aria-describedby="locationLabel" data-msg="Please enter your location."
                                           data-error-class="u-has-error" data-success-class="u-has-success">
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="row">

                        <div class="col-sm-6 mb-2">
                            <div class="js-form-message">
                                <label id="phoneNumberLabel" class="form-label">
                                    Phone number
                                    <span class="text-danger">*</span>
                                </label>
                                <div class="form-group">
                                    <input class="form-control" type="tel" name="phone" value="{{ profile.phone }}"
                                           placeholder="Enter your phone number" aria-label="Enter your phone number"
                                           required=""
                                           aria-describedby="phoneNumberLabel"
                                           data-msg="Please enter a valid phone number"
                                           data-error-class="u-has-error" data-success-class="u-has-success">
                                </div>
                            </div>
                            <a class="d-inline-block u-text-muted" href="#">
                                <span class="mr-1">+</span>
                                Add phone number
                            </a>
                        </div>


                        <!--<editor-fold desc="preferred language">-->
                        {#            <div class="col-sm-6 mb-2">#}
                        {#              <div class="js-form-message">#}
                        {#                <label class="form-label">#}
                        {#                  Preferred language#}
                        {#                  <span class="text-danger">*</span>#}
                        {#                </label>#}
                        {#                <div class="form-group">#}
                        {#                  <select class="custom-select">#}
                        {#                    <option value="">Select language</option>#}
                        {#                    <option value="languageSelect1" selected="">English</option>#}
                        {#                    <option value="languageSelect2">Français</option>#}
                        {#                    <option value="languageSelect3">Deutsch</option>#}
                        {#                    <option value="languageSelect4">Português</option>#}
                        {#                  </select>#}
                        {#                </div>#}
                        {#              </div>#}
                        {#            </div>#}
                        <!--</editor-fold>-->

                    </div>

                    <!--<editor-fold desc="Birth Date>-->
                    <label class="form-label">
                        Birth date
                        <span class="text-danger">*</span>
                    </label>
                    <div class="row">

                        <div class="col-md-6 mb-3 mb-sm-6">
                            <div class="js-form-message">
                                <div class="form-group">
                                    <select class="form-control custom-select" name="month" required=""
                                            data-msg="Please select month."
                                            data-error-class="u-has-error" data-success-class="u-has-success">
                                        <option value="">Select month</option>
                                        <option value="birthMonthSelect1">January</option>
                                        <option value="birthMonthSelect2">February</option>
                                        <option value="birthMonthSelect3">March</option>
                                        <option value="birthMonthSelect4" selected="selected">April</option>
                                        <option value="birthMonthSelect5">May</option>
                                        <option value="birthMonthSelect6">June</option>
                                        <option value="birthMonthSelect7">July</option>
                                        <option value="birthMonthSelect8">August</option>
                                        <option value="birthMonthSelect9">September</option>
                                        <option value="birthMonthSelect10">October</option>
                                        <option value="birthMonthSelect11">November</option>
                                        <option value="birthMonthSelect12">December</option>
                                    </select>
                                </div>
                            </div>
                        </div>


                        <div class="col-sm-4 col-md-2 mb-3 mb-sm-6">
                            <div class="js-form-message">
                                <div class="form-group">
                                    <select class="form-control custom-select" required="" name="day"
                                            data-msg="Please select date."
                                            data-error-class="u-has-error" data-success-class="u-has-success">
                                        <option value="">Select date</option>
                                        <option value="birthDateSelect1">1</option>
                                        <option value="birthDateSelect2">2</option>
                                        <option value="birthDateSelect3">3</option>
                                        <option value="birthDateSelect4">4</option>
                                        <option value="birthDateSelect5">5</option>
                                        <option value="birthDateSelect6">6</option>
                                        <option value="birthDateSelect7">7</option>
                                        <option value="birthDateSelect8">8</option>
                                        <option value="birthDateSelect9">9</option>
                                        <option value="birthDateSelect10">10</option>
                                        <option value="birthDateSelect11">11</option>
                                        <option value="birthDateSelect12" selected="selected">12</option>
                                        <option value="birthDateSelect13">13</option>
                                        <option value="birthDateSelect14">14</option>
                                        <option value="birthDateSelect15">15</option>
                                        <option value="birthDateSelect16">16</option>
                                        <option value="birthDateSelect17">17</option>
                                        <option value="birthDateSelect18">18</option>
                                        <option value="birthDateSelect19">19</option>
                                        <option value="birthDateSelect20">20</option>
                                        <option value="birthDateSelect21">21</option>
                                        <option value="birthDateSelect22">22</option>
                                        <option value="birthDateSelect23">23</option>
                                        <option value="birthDateSelect24">24</option>
                                        <option value="birthDateSelect25">25</option>
                                        <option value="birthDateSelect26">26</option>
                                        <option value="birthDateSelect27">27</option>
                                        <option value="birthDateSelect28">28</option>
                                        <option value="birthDateSelect29">29</option>
                                        <option value="birthDateSelect30">30</option>
                                        <option value="birthDateSelect31">31</option>
                                    </select>
                                </div>
                            </div>
                        </div>


                        <div class="col-sm-4 col-md-2 mb-3 mb-sm-6">
                            <div class="js-form-message">
                                <div class="form-group">
                                    <select class="form-control custom-select" required="" name="year"
                                            data-msg="Please select year."
                                            data-error-class="u-has-error" data-success-class="u-has-success">
                                        <option value="">Select year</option>
                                        <option value="birthYearSelect1971">1971</option>
                                        <option value="birthYearSelect1972">1972</option>
                                        <option value="birthYearSelect1973">1973</option>
                                        <option value="birthYearSelect1974">1974</option>
                                        <option value="birthYearSelect1975">1975</option>
                                        <option value="birthYearSelect1976">1976</option>
                                        <option value="birthYearSelect1977">1977</option>
                                        <option value="birthYearSelect1978">1978</option>
                                        <option value="birthYearSelect1979">1979</option>
                                        <option value="birthYearSelect1980">1980</option>
                                        <option value="birthYearSelect1981">1981</option>
                                        <option value="birthYearSelect1982">1982</option>
                                        <option value="birthYearSelect1983">1983</option>
                                        <option value="birthYearSelect1984">1984</option>
                                        <option value="birthYearSelect1985">1985</option>
                                        <option value="birthYearSelect1986" selected="selected">1986</option>
                                        <option value="birthYearSelect1987">1987</option>
                                        <option value="birthYearSelect1988">1988</option>
                                        <option value="birthYearSelect1989">1989</option>
                                        <option value="birthYearSelect1990">1990</option>
                                        <option value="birthYearSelect1991">1991</option>
                                        <option value="birthYearSelect1992">1992</option>
                                        <option value="birthYearSelect1993">1993</option>
                                        <option value="birthYearSelect1994">1994</option>
                                        <option value="birthYearSelect1995">1995</option>
                                        <option value="birthYearSelect1996">1996</option>
                                        <option value="birthYearSelect1997">1997</option>
                                        <option value="birthYearSelect1998">1998</option>
                                        <option value="birthYearSelect1999">1999</option>
                                        <option value="birthYearSelect2000">2000</option>
                                        <option value="birthYearSelect2001">2001</option>
                                        <option value="birthYearSelect2002">2002</option>
                                        <option value="birthYearSelect2003">2003</option>
                                        <option value="birthYearSelect2004">2004</option>
                                        <option value="birthYearSelect2005">2005</option>
                                        <option value="birthYearSelect2006">2006</option>
                                        <option value="birthYearSelect2007">2007</option>
                                        <option value="birthYearSelect2008">2008</option>
                                        <option value="birthYearSelect2009">2009</option>
                                        <option value="birthYearSelect2010">2010</option>
                                        <option value="birthYearSelect2011">2011</option>
                                        <option value="birthYearSelect2012">2012</option>
                                        <option value="birthYearSelect2013">2013</option>
                                        <option value="birthYearSelect2014">2014</option>
                                        <option value="birthYearSelect2015">2015</option>
                                        <option value="birthYearSelect2016">2016</option>
                                        <option value="birthYearSelect2017">2017</option>
                                        <option value="birthYearSelect2017">2018</option>
                                        <option value="birthYearSelect2017">2019</option>
                                        <option value="birthYearSelect2017">2020</option>
                                        <option value="birthYearSelect2017">2021</option>
                                        <option value="birthYearSelect2017">2022</option>
                                        <option value="birthYearSelect2017">2023</option>

                                    </select>
                                </div>
                            </div>
                        </div>


                        <div class="col-sm-4 col-md-2 mb-2">
                            <div class="js-form-message">
                                <div class="form-group">
                                    <select class="form-control custom-select" required="" name="gender"
                                            data-msg="Please select your gender."
                                            data-error-class="u-has-error" data-success-class="u-has-success">
                                        <option value="genderSelect1" selected="">Male</option>
                                        <option value="genderSelect2">Female</option>
                                        <option value="genderSelect3">Other</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                    </div>
                    </editor-fold>
                </div>
            </div>
            {% for experience in profile.experience_set.all %}
                <div class="border rounded bg-white mb-3">
            <div class="box-body p-3 border-bottom">
                <div class="d-flex align-items-top job-item-header pb-2">
                    <div class="mr-2">
                        <h6 class="font-weight-bold text-dark mb-0">{{ experience.designation }}</h6>
                        <div class="text-truncate text-primary">{{ experience.company }}</div>
                        <div class="small text-gray-500">{{ experience.from_date }} - {{ experience.to_date }}(4 year 7 month)</div>
                    </div>
{#                    <img class="img-fluid ml-auto mb-auto" src="/static/img/l3.png" alt="">#}
                </div>
                <p class="mb-0">{{ experience.description }} </p>
            </div>
            </div>
            {% endfor %}


            <!-- <editor-fold desc="Experience"> -->
            <div class="border rounded bg-white mb-3">
                <div class="box-title border-bottom p-3">
                    <h6 class="m-0">Experience
                    </h6>
                    <p class="mb-0 mt-0 small">Tell about your work, job, and other experiences.
                    </p>
                </div>
                <div class="box-body px-3 pt-3 pb-0">
                    <div class="row">
                        <div class="col-sm-6 mb-4">
                            <label id="FROM" class="form-label">FROM</label>

                            <div class="input-group">
                                <input type="date" name="from_date" class="form-control" placeholder="From" aria-label="FROM"
                                       aria-describedby="FROM">
                            </div>

                        </div>
                        <div class="col-sm-6 mb-4">
                            <label id="TO" class="form-label">TO</label>

                            <div class="input-group">
                                <input type="date" name="to_date" class="form-control" placeholder="TO" aria-label="TO"
                                       aria-describedby="TO">
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 mb-4">
                            <label id="companyLabel" class="form-label">Company</label>

                            <div class="input-group">
                                <input type="text" name="company" class="form-control" placeholder="Enter your company title"
                                       aria-label="Enter your company title" aria-describedby="companyLabel">
                            </div>

                        </div>
                        <div class="col-sm-6 mb-4">
                            <label id="positionLabel" class="form-label">Position</label>

                            <div class="input-group">
                                <input type="text" name="designation" class="form-control" placeholder="Enter your position"
                                       aria-label="Enter your position"
                                       aria-describedby="positionLabel">
                            </div>

                        </div>
                        <div class="col-sm-6 mb-4">
                            <label id="positionLabel" class="form-label">Description(optional)</label>

                            <div class="input-group">
                                <textarea class="form-control" name="description" placeholder="Share your experience"></textarea>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- </editor-fold> -->


            <div class="mb-3 text-right">
                {#      <button type="reset" class="font-weight-bold btn btn-link rounded p-3"> &nbsp;&nbsp;&nbsp;&nbsp; Cancel &nbsp;&nbsp;&nbsp;&nbsp; </button>#}
                <button type="submit" class="font-weight-bold btn btn-primary rounded p-3" name="btn" value="profile">
                    &nbsp;&nbsp;&nbsp;&nbsp; Sava Chenges &nbsp;&nbsp;&nbsp;&nbsp;
                </button>
            </div>
        </form>
    </main>
{% endblock %}